[user]
	name = Ben John
	email = github@benjohn.de
[push]
	default = simple
[alias]
	p = push
	pl = pull
	c = commit
	ca = commit --amend
	a = add -A
	st = status
	d = diff
	dc = diff --cached
	v = version
        l = log --pretty=format:"%h%x09%ad%x09%an%x09%s"
[log]
	date = relative
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
